.checkout-page{

    padding:100px 0;

    background:#f8fafc;

    min-height:100vh;

}

.checkout-title{

    font-size:42px;

    font-weight:700;

    margin-bottom:40px;

}

.checkout-layout{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:35px;

    align-items:start;

}

.checkout-right{

    position:sticky;

    top:100px;

    align-self:start;

}

@media(max-width:992px){

.checkout-layout{

grid-template-columns:1fr;

}

.checkout-right{

position:static;

}

}